h1{
   
    color: black;
    font-family:'Times New Roman', Times, serif;

}

.a1{
    position: fixed;
    height: 500px;
    width: 500px;
    top: 500px;
    left: 500px;
    background-color: blueviolet;
}