h1{
   
    color: black;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size:xx-large;

}

body{
    background-color: aquamarine;
}

.a1{
    
   position: absolute;
    top: 350px;
    left: 700px;
    font-weight: bold;
    
}

#x1 :hover{

    background-color: chartreuse;
}